*{
    margin: 0px;
    padding: 0px;
}

.titulos__rig{
    grid-area: inicio;
    justify-self: center;
    align-self: center;
}
.logoprincipal{
    grid-area: inicio;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
li {
    display: inline;
    font-family: 'Fredoka One', cursive;
    font-size: large;
    padding: 20px;
}
a {
    text-decoration: none;
    color: azure;
}
header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://i.stack.imgur.com/p9mUO.jpg);
    border: 3px solid orange;
    background-color: #d4c8ac;
}
body{
    background-color: #d4c8ac;
}
.header__titulo{
    margin-top: 3px;
    margin-left: -10px;
    color:whitesmoke;
}
.header__logo{
    width: 3%;
}
.header__items{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
   /*  font-family: 'Times New Roman', Times, serif;  */ 
}
.btn {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn__comprar:hover {
    transform: scale(1.3);
    background-color: chocolate;
}
button:hover{
    transform: scale(1.3);
    background-color: chocolate;

}

.btn__animacion {
    animation-duration: 5s;
    animation-name: animacion_boton;
    animation-iteration-count: infinite;
}

@keyframes animacion_boton {
    0%{
        width: 40%;
    }
    40%{
        width: 60%;
    }
    100%{
        width: 50%;
    }

}
.inicio{
    margin: 3%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 70%;
}
.inicio__grid1{
    grid-area: main1;    
}
.inicio__grid2{
    grid-area: main2;
}
.titulos{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}
.titulos--acercadenosotros {
    margin-left: 0%;
    margin: 2%;
}
.descripcion{
    width: 100%;
    font-size: 25px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(27, 48, 88);
}
.descripcion--acercadenosotros{
    width: 60%;
    margin: 2%;
}
.descripcion__grid1{
    grid-area: desc1;
    justify-content: left;
    margin-top: 25%;
}
.descripcion__grid2{
    grid-area: desc2;
    justify-content: left;
    margin-top: 25%;
    }
footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: larger;
    margin-top: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
    Arial, sans-serif;
}
.contacto{
    display: flex;
    flex-direction: column;
}
.contacto__form{
    display: flex;
    flex-direction: column;
    width: 450px;
}
input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
}
.acercadenostros{
    display: flex;
    flex-direction: column; 
}
.acercadenosotros__profesional{
    display: flex;
    flex-direction: row;
    color: cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 2%;
}
.acercadenosotros__titulo{
    margin-left: 2%;
    margin-top: -2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rigs{
    font-size: larger;
    display: flex;
    flex-direction: column;
    margin: 2%;
    text-align:start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rigs__placas{
    width: 380px;
    border: 10px solid black;
}
.ubicacion {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px) {

    .header__items {
display: flex;
flex-direction: column;
justify-content: center;

}
.maprouter {

    width: 30%;
}
.acercadenosotros__profesional {
    display: none;
    }  
}
@media screen and (max-width: 600px) {
.acercadenosotros__profesional {
display: none;
}    
}
        
